<% content_for :body_content_left do %>
  <ul id="videos">
    <% @videos.each do |video| %>
      <li>
        <%= link_to video.name, main_app.video_path(video) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
