<%= content_for :javascripts_head do %>
<%= javascript_include_tag 'http://cdn.sublimevideo.net/js/4on6wa5x.js' %>
<% end %>

<div class="videos_content">
	<div class="layout_1">
		<div class="col1">
		  <%= render :partial => 'video', :object => @raw_video %>
		</div>
	</div>
</div>